* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
     width:  100%;
     margin: 0 auto;
     height:  960px;
     border-bottom: 60px solid rgb(95, 97, 56);
     position: relative;
     background: linear-gradient( #28536B, #C2948A);
     overflow: hidden;
     font-size: 50px;
     text-align: center;
     color: aqua;
     
}

.gabigol {
    width: 120px;
    position: absolute;
    bottom: 0px;
    left: 50px;
}

.jump {
    animation: jump 800ms ease-out;
}
@keyframes jump {
   0% {
       bottom: 0;
   }
   50% { 
       bottom: 140px;
   }
   60% {
       bottom: 180px;
   }
   100% {
       bottom: 0;
   }
}
.mesa {
    width:  100px;
    position: absolute;
    bottom:  0;
    animation: mesa-anim 1.5s infinite linear;
}
@keyframes mesa-anim {
    from {
        right: -230px;
    }
    to {
        right: 100%;
    }
}

.nuvens {
    width:  550px;
    margin-top: 40px;
    position: absolute;
    animation: nvm 6s infinite linear;
}
@keyframes nvm {
    from {
        right: -450px;
    }
    to {
        right: 100%;
    }
}



